doctype html
html
    head
        title Dead by Daylight Apps
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/themes.css")
    body#theBody
        script(type="text/javascript", src="/js/themes.js")
        include ./header.pug

        div.align-content-center
            p.text-center#people Hello World! This is temporary but will be a real front page soon!
            p.text-hide.text-center#hiddenText Also, Chuck is a pleb...

        script(type="text/javascript", src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")