// Navbar header
div.header
    script(type="text/javascript") checkCookie("theme");
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/") Unofficial Dead by Daylight Apps
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent",
            aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="/") Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="https://deadbydaylight.gamepedia.com/Dead_by_Daylight_Wiki",
                        target="_blank") Official Wiki
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown",
                        aria-haspopup="true", aria-expanded="false") Theme
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(onclick="setCookie('theme','light','100', changeTheme)", href="#") Light
                        a.dropdown-item(onclick="setCookie('theme','dark','100', changeTheme)", href="#") Dark
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#pageSwitchDropdown(href="#", role="button", data-toggle="dropdown",
                        aria-haspopup="true", aria-expanded="false") Apps
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="/app/ratings") Character Ratings
                        a.dropdown-item(href="/app/randomizer") Randomizer
            // Search feature
            //form.form-inline.my-2.my-lg-0"
            //input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
            //button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
            // End search
// End navbar header