doctype html
html
    head
        title Dead by Daylight Apps
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/themes.css")
    body#theBody
        script(type="text/javascript", src="/js/themes.js")
        include header

        br
        div.align-content-center#notFoundDiv
            h3.text-center 404 Not Found
            p.text-center The page you are looking for is not here

        script(type="text/javascript", src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")