doctype html
html
    head
        title Dead by Daylight Apps
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/themes.css")
    body#theBody
        script(type="text/javascript", src="/js/themes.js")
        include header

        br
        div.align-content-center#comingSoonDiv
            h2.text-center.font-italic Coming soon...
            img(style="display: block; margin: auto; width: 20%;" src="/images/cone.png")
            p.text-center We are working on it but it's under construction

        script(type="text/javascript", src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")